<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <section id="banner">
    <h2>Готуємо смачно разом!</h2>
    <p>Тисячі рецептів для будь-якого випадку</p>
    <a href="/recipes/get" class="button">Почати</a>
</section>
</body>
</html>
