<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <form method="POST" action="" class="sign">

    <label for="email">Електрона пошта</label>
    <input id="email" type="text" name="email">

    <label for="password">Пароль</label>
    <input id="password" type="password" name="password">

    <input type="submit" id="register" value="Увійти">
    
    <p>Ще не маєте аккаунт?</p><a href="/user/register">Зареєструватися</a>
</form>
</body>
</html>